---
Checks: '
  *,
  -readability-redundant-access-specifiers,
  -readability-else-after-return,
  -readability-redundant-string-init,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay, -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-named-parameter, -readability-named-parameter,
  -cppcoreguidelines-pro-type-vararg, -hicpp-vararg,
  -google-runtime-references,
  -fuchsia-default-arguments-*,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -hicpp-uppercase-literal-suffix, -readability-uppercase-literal-suffix,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
  '